#invoice-createPanel(hidden).panel
	h1 Create Invoice
	hr
	#createInvoiceContents
		form(action="/create" method="POST",style="width:100%")#createInvoiceform
			
			table(style="width:100%;")
				tr
					th(style="text-align:right;")
						label(for="invoice_vendorId") Vendor ID 
					th(style="text-align:left;")
						input(name="invoice_vendorId",type="text",placeholder="Vendor ID" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_customerID") Customer ID 
					th(style="text-align:left;")
						input(name="invoice_customerID",type="text",placeholder="Customer ID" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_invoiceNumber") Invoice Number
					th(style="text-align:left;")
						input(name="invoice_invoiceNumber",type="text",placeholder="Invoice Number" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_invoiceAmount") Invoice Amount
					th(style="text-align:left;")
						input(name="invoice_invoiceAmount",type="text",placeholder="Invoice Amount" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_invoiceDate") Invoice Date
					th(style="text-align:left;")
						input(name="invoice_invoiceDate",type="text",placeholder="Invoice Date" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_currency") Currency
					th(style="text-align:left;")
						input(name="invoice_currency",type="text",placeholder="Currency" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_material") Material
					th(style="text-align:left;")
						input(name="invoice_material",type="text",placeholder="Material" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_quantity") Quantity
					th(style="text-align:left;")
						input(name="invoice_quantity",type="text",placeholder="Quantity" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_status") Status
					th(style="text-align:left;")
						input(name="invoice_status",type="text",placeholder="Status" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_traderId") Trader ID
					th(style="text-align:left;")
						input(name="invoice_traderId",type="text",placeholder="Trader ID" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_paymentDate") Payment Date
					th(style="text-align:left;")
						input(name="invoice_paymentDate",type="text",placeholder="Payment Date" style="margin:0;")
				tr
					th(style="text-align:right;")
						label(for="invoice_newPaymentDate") New Payment Date
					th(style="text-align:left;")
						input(name="invoice_newPaymentDate",type="text",placeholder="New Payment Date" style="margin:0;")
				
				tr
					th:&nbsp;
					th(style="text-align:left;")
						button(type="button")#btnSubmitInvoice
							span.fa.fa-check &nbsp;&nbsp;
							span CREATE
						&nbsp;&nbsp;
						button(type="button",parent="invoice",show="list",style="background:#f7f7f7;")#btnCancelInvoice.toggleButton
							span.fa.fa-close &nbsp;&nbsp;
							span CANCEL
						
		
		